.LabelDisplay {
  text-align: center;
  border: 3px dashed #000;

  &.round {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border-radius: 50%;
  }

  .caution {
    width: auto;
    max-height: 60px;
  }
}
