.LabelDisplay {
  text-align: center;
  border: 3px dashed #000;

  p {
    width: 100%;
  }

  .label-title {
    font-weight: bold;
    font-size: 1.2em;
  }
  .product-weight {
  }
  .anchor-bottom {
    align-self: flex-end;
  }
  .business-address,
  .business-name,
  .business-telephone {
    font-size: 0.9em;
  }

  .batch {
    margin-right: 40px;
  }

  &.round {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border-radius: 50%;
  }

  .caution {
    width: auto;
    max-height: 60px;
  }
}
