@import "scss/reset";

* {
  box-sizing: border-box;
}

.en-icon,
.square-icon,
.circle-icon {
  width: 50px;
  height: 50px;
}
.square-icon,
.circle-icon {
  border: 1px solid #000;
  background: #ddd;
}
.circle-icon {
  border-radius: 50%;
}

.mb-0 {
  margin-bottom: 0;
}

.w-100 {
  width: 100%;
}

.form-control {
  margin-bottom: 20px;

  &.text {
    label {
      width: 100%;
    }
    input {
      width: 100%;
    }
  }
}

.App {
  display: flex;
  flex-wrap: wrap;
  header {
    width: 100%;
  }

  article {
    width: 70%;
    margin-right: 20px;
    > * {
      height: 500px;
      margin-bottom: 20px;
      width: 100%;
    }
  }
  aside {
    width: 25%;
  }
}
